.imagen-general {
  width: 90%;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 2px solid #d6d4d4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 13px;
  background-color: #fff;
}
