.btn-generico {
  padding: 7px 10px 4px 10px;
  background-color: #594740;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}

.btn-estado {
  cursor: default;
}

.btn-verde {
  color: #65bc49;
  border: 2px solid #65bc49;
  background-color: #c7e5c5;
  font-weight: bold;
}

.btn-rojo {
  color: #bc4949;
  border: 2px solid #bc4949;
  background-color: #e5c5c5;
  font-weight: bold;
}

.btn-amarillo {
  color: #bcbc49;
  border: 2px solid #bcbc49;
  background-color: #e5e5c5;
  font-weight: bold;
}

.tarjeta-content-links-vermas {
  padding: 9px 11px 7px 12px;
  color: white;
  text-decoration: none;
}

.tarjeta-content-links-vermas:hover {
  background-color: #ce643a;
}

.tarjeta-content-links-btn-lugar {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/icono-loc.png');
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pistas-linea-botones-iconos {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
